name: PureStack .NET Audit
on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    # Apuntamos DIRECTAMENTE al archivo de proyecto de Test
    - name: Restore dependencies
      run: dotnet restore tests/PureStackLogistics.Tests/PureStackLogistics.Tests.csproj

    - name: Build
      run: dotnet build tests/PureStackLogistics.Tests/PureStackLogistics.Tests.csproj --no-restore

    - name: Test
      run: dotnet test tests/PureStackLogistics.Tests/PureStackLogistics.Tests.csproj --no-build --verbosity normal
